body{
  background-color: #ebebeb !important;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root{
  --yellow:rgb(233, 201, 60);
  --transparentWhite:rgb(255, 255, 255);
}
.background-img{

  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.452),rgba(0, 0, 0, 0.24)), url(../../public/img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navegador{
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;  
  align-items: center;
}
.menuNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manuButtons{
  color: rgb(255, 255, 255);
  margin-left: 40px;
  font-size: large;
}
.menu{
  display: flex;
  justify-content: space-between;
}
.btnYellow{
  background-color: var(--yellow);
  border: none;
  padding: 5px 30px;
}
.land{
  margin-top: 80px;
  text-align: center;
}
.principal{
  color: white;
  font-size: 60px;
  font-weight: 300;
}
.buscador{
  background-color: var(--transparentWhite);
  padding: 20px 40px;
  height: 50px;
  border-radius: 25px;
  border: var(--transparentWhite);
  color: #000000;
  font-size: 30px;
  box-shadow: 7px 7px 7px rgba(43, 43, 43, 0.856);
}
.articleImage{
  background-color: rgba(66, 64, 64, 0.336);
  height: 250px;
}
p{
  margin-bottom: 5px !important;
  font-size: 20px;
}
.price{
  color: var(--yellow);
  font-size: 30px;
  font-weight: 600;
  
}
.bgArticle{
  background-color: rgb(255, 255, 255);
}

.tittle{
}